jupyter
numpy
catboost
seaborn
plotly
# serve
fastapi
uvicorn
# experiments
mlflow-skinny==2.16.2
hyperopt
boto3==1.35
# retrieval
python-dotenv>=1.1.0
scikit-learn
umap-learn
PyYAML==6.0.1
# data processing
polars==1.15.0
pyarrow==18.1.0
# bot
python-telegram-bot==21.8
openai

backoff==2.2.1
pyarrow==18.1.0
torch
transformers
sentence-transformers
torchvision
nltk==3.6.7
gensim
implicit
google-genai
catalyst
chromadb
langchain
langchain-text-splitters
langchain_huggingface
tiktoken
google-cloud-storage
gcsfs
mindbase-layer @ git+https://github.com/aleksandr-dzhumurat/automation_toolkit.git