jupyter
numpy
catboost
seaborn==0.13.2
plotly
# serve
fastapi==0.95.2
uvicorn==0.17.6
# experiments
mlflow-skinny==2.16.2
hyperopt
boto3==1.35
# retrieval
python-dotenv==1.0.1
scikit-learn==1.5
PyYAML==6.0.1